__pycache__/
*.py[cod]
benchmark_set_split/
thrombin/
structures/
fragment_dataset/
fragment_dataset.tar.gz
fragment_fullBinders_dataset/
fragment_fullBinders_dataset.tar.gz
benchmark_set_split/
pose_true.pdb
structure_fragment.pdb
benchmark_set_split/
fragment_dataset_redocking/
fragment_dataset_redocking.tar.gz
fragment_fullBinders_dataset.zip
fragment_dataset_redocking.zip
fragment_fullBinders_dataset_redocking.zip