__pycache__/
*.py[cod]
benchmark_set_split/
thrombin/
structures/
fragment_dataset/
fragment_dataset.tar.gz
fragment_fullBinders_dataset/
fragment_fullBinders_dataset.tar.gz
benchmark_set_split/
pose_true.pdb
structure_fragment.pdb
